<!DOCTYPE html>

<html lang="en">

<head>
  ${./includes/head.html}
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>{$title}</h2>
        <p>Database Search Result</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">
          <div class="col">

            <foreach @colors>
              <a href='/search/?q={$q}&type=@colors["type"]' style="color: white; text-decoration: none;"> <span
                  class='badge rounded-pill text-bg-@colors["color"]'>@colors["name"]</span></a>
            </foreach>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="color: white; text-decoration: none;"
              href="/search/?q={$q}"><span class="badge bg-light text-danger">Clear Filter</span></a>

            <hr />

          </div>
        </div>

        ${./includes/paging.html}

        <br />

        <ul>
          <foreach @item>
            <li>
              <a href='@item["url"]'>@item["name"]</a> <span class='badge rounded-pill text-bg-@item["bs_color"]'><a
                  href='/search/?q={$q}&type=@item["type"]'
                  style="color: white; text-decoration: none;">@item["type"]</a></span><br />
              <blockquote>@item["note"]</blockquote>
            </li>
          </foreach>
        </ul>

        ${./includes/paging.html}

      </div>

    </section>


  </main>

  ${./includes/footer.html}
</body>

</html>