<!DOCTYPE html>

<html lang="en">

<head>
  <meta name="app" content="taxonomy_data" />
  ${./includes/head.html}
  <link rel="stylesheet" href="/resources/css/require-login.css">
  <script type="text/javascript" src="/resources/vendor/echarts-6.0.0/echarts.min.js"></script>
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>{$name} ({$rank_name})</h2>
        <p>all metabolite annotated from the LCMS experimental data that sampling from this taxon: {$name}
          ({$rank_name})</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">
          <div class="col" id="scatter-chart" style="width: 800px; height: 800px;">

          </div>
        </div>
        <div class="row">
          <div class="col" id="tic-chart" style="width: 100%; height: 300px;">
          </div>
        </div>

        <br />
        <br />

        <div class="row">
          <div class="col" id="metab-source">
            <br />
            ${includes/require-login.html}
          </div>
        </div>

      </div>

    </section>


  </main>

  ${./includes/footer.html}
</body>

</html>