<!DOCTYPE html>

<html lang="en">

<head>
  ${./includes/head.html}
</head>

<body class="index-page scrolled">
  ${./includes/nav.html}

  <br />
  <br />
  <br />
  <br />

  <main class="main">

    <section id="data" class="section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>Trait: {$trait_name}</h2>
        <p>Category: {$main_class} / {$sub_class}</p>
      </div><!-- End Section Title -->

      <div class="container">

        ${./includes/paging.html}

        <table class="table">
          <thead>
            <tr>
              <th>Organism</th>
              <th>Taxonomy Rank</th>
              <th>GTDB_id</th>
              <th>Unit</th>
              <th>Trait Value</th>
            </tr>
          </thead>
          <tbody>
            <foreach @tax>
              <tr>
                <td><a href='/taxonomy/?id=@tax["tax_id"]'>@tax["taxname"]</a></td>
                <td>@tax["rank"]</td>
                <td>@tax["GTDB_id"]</td>
                <td>@tax["unit"]</td>
                <td>@tax["value"]</td>
              </tr>
            </foreach>
          </tbody>
        </table>

        ${./includes/paging.html}


      </div>

    </section>


  </main>

  ${./includes/footer.html}
</body>

</html>